<?xml version="1.0"?>

<robot name="overlord100" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- wheels -->
    <gazebo reference="right_wheel">
        <mu1>100000000000000.0</mu1>
        <mu2>100000000000000.0</mu2>
        <kp>1000000000000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <fdir1>1 0 0</fdir1>
    </gazebo>

    <gazebo reference="left_wheel">
        <mu1>100000000000000.0</mu1>
        <mu2>100000000000000.0</mu2>
        <kp>1000000000000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <fdir1>1 0 0</fdir1>
    </gazebo>

    <gazebo reference="front_left_dummy_wheel">
        <mu1>0.001</mu1>
        <mu2>0.001</mu2>
        <kp>1000000.0</kp>
        <kd>100.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
    </gazebo>

    <gazebo reference="front_right_dummy_wheel">
        <mu1>0.001</mu1>
        <mu2>0.001</mu2>
        <kp>1000000.0</kp>
        <kd>100.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
    </gazebo>

    <gazebo reference="back_left_dummy_wheel">
        <mu1>0.001</mu1>
        <mu2>0.001</mu2>
        <kp>1000000.0</kp>
        <kd>100.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
    </gazebo>

    <gazebo reference="back_right_dummy_wheel">
        <mu1>0.001</mu1>
        <mu2>0.001</mu2>
        <kp>1000000.0</kp>
        <kd>100.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
    </gazebo>

    <!-- lidars -->
    <gazebo>
        <plugin filename="ignition-gazebo-sensors-system" name="ignition::gazebo::systems::Sensors">
            <render_engine>ogre2</render_engine>
        </plugin>
    </gazebo>

    <gazebo reference="lidar_front">
        <sensor name="lidar_sensor_front" type="gpu_lidar">
            <topic>laser_scan_front</topic>
            <update_rate>10</update_rate>
            <gz_frame_id>lidar_front</gz_frame_id>
            <lidar>
                <scan>
                    <horizontal>
                        <samples>500</samples>
                        <resolution>1</resolution>
                        <min_angle>-1.4</min_angle>
                        <max_angle>3.0</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.5</min>
                    <max>12.0</max>
                    <resolution>0.01</resolution>
                </range>
            </lidar>
            <always_on>true</always_on>
            <visualize>true</visualize>
        </sensor>
    </gazebo>

    <gazebo reference="lidar_back">
        <sensor name="lidar_sensor_back" type="gpu_lidar">
            <topic>laser_scan_back</topic>
            <update_rate>10</update_rate>
            <gz_frame_id>lidar_back</gz_frame_id>
            <lidar>
                <scan>
                    <horizontal>
                        <samples>500</samples>
                        <resolution>1</resolution>
                        <min_angle>-4.5</min_angle>
                        <max_angle>-0.1</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.5</min>
                    <max>12.0</max>
                    <resolution>0.01</resolution>
                </range>
            </lidar>
            <always_on>true</always_on>
            <visualize>true</visualize>
        </sensor>
    </gazebo>

    <!-- camera -->
    <gazebo reference="realsense">
        <sensor name="d435_color" type="camera">
            <always_on>1</always_on>
            <update_rate>30</update_rate>
            <visualize>1</visualize>
            <pose>0 0 0 0 0 1.57075</pose>
            <topic>/color_camera</topic>
            <camera name="d435">
                <horizontal_fov>1.21126</horizontal_fov>
                <image>
                    <width>640</width>
                    <height>480</height>
                    <format>RGB_INT8</format>
                </image>
                <clip>
                    <near>0.1</near>
                    <far>100</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0</mean>
                    <stddev>0.007</stddev>
                </noise>
            </camera>
        </sensor>
        <sensor name="d435_depth" type="depth_camera">
            <always_on>1</always_on>
            <update_rate>90</update_rate>
            <visualize>0</visualize>
            <pose>0 0 0 0 0 1.57075</pose>
            <topic>/depth_camera</topic>
            <camera name="d435">
                <horizontal_fov>1.48702</horizontal_fov>
                <image>
                    <width>1280</width>
                    <height>720</height>
                </image>
                <clip>
                    <near>0.1</near>
                    <far>100</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0</mean>
                    <stddev>0.1</stddev>
                </noise>
            </camera>
        </sensor>
    </gazebo>

    <!-- sonars -->
    <gazebo reference="sonar1">
        <sensor name='sonar_1' type='gpu_lidar'>
            <always_on>1</always_on>
            <update_rate>20</update_rate>
            <visualize>1</visualize>
            <topic>sonar_1_scan</topic>
            <ray>
                <scan>
                    <horizontal>
                        <samples>5</samples>
                        <resolution>1</resolution>
                        <min_angle>-0.14835</min_angle>
                        <max_angle>0.14835</max_angle>
                    </horizontal>
                    <vertical>
                        <samples>3</samples>
                        <resolution>1</resolution>
                        <min_angle>0</min_angle>
                        <max_angle>0.14835</max_angle>
                    </vertical>
                </scan>
                <range>
                    <min>0.01</min>
                    <max>4</max>
                    <resolution>0.02</resolution>
                </range>
                <noise>
                    <type>gaussian</type>
                    <mean>0.1</mean>
                    <stddev>0.005</stddev>
                </noise>
            </ray>
        </sensor>
    </gazebo>

    <gazebo reference="sonar2">
        <sensor name='sonar_2' type='gpu_lidar'>
            <always_on>1</always_on>
            <update_rate>20</update_rate>
            <visualize>1</visualize>
            <topic>sonar_2_scan</topic>
            <ray>
                <scan>
                    <horizontal>
                        <samples>5</samples>
                        <resolution>1</resolution>
                        <min_angle>-0.14835</min_angle>
                        <max_angle>0.14835</max_angle>
                    </horizontal>
                    <vertical>
                        <samples>3</samples>
                        <resolution>1</resolution>
                        <min_angle>0</min_angle>
                        <max_angle>0.14835</max_angle>
                    </vertical>
                </scan>
                <range>
                    <min>0.01</min>
                    <max>4</max>
                    <resolution>0.02</resolution>
                </range>
                <noise>
                    <type>gaussian</type>
                    <mean>0.1</mean>
                    <stddev>0.005</stddev>
                </noise>
            </ray>
        </sensor>
    </gazebo>

    <gazebo reference="sonar3">
        <sensor name='sonar_3' type='gpu_lidar'>
            <always_on>1</always_on>
            <update_rate>20</update_rate>
            <visualize>1</visualize>
            <topic>sonar_3_scan</topic>
            <ray>
                <scan>
                    <horizontal>
                        <samples>5</samples>
                        <resolution>1</resolution>
                        <min_angle>-0.14835</min_angle>
                        <max_angle>0.14835</max_angle>
                    </horizontal>
                    <vertical>
                        <samples>3</samples>
                        <resolution>1</resolution>
                        <min_angle>0</min_angle>
                        <max_angle>0.14835</max_angle>
                    </vertical>
                </scan>
                <range>
                    <min>0.01</min>
                    <max>4</max>
                    <resolution>0.02</resolution>
                </range>
                <noise>
                    <type>gaussian</type>
                    <mean>0.1</mean>
                    <stddev>0.005</stddev>
                </noise>
            </ray>
        </sensor>
    </gazebo>

    <gazebo reference="sonar4">
        <sensor name='sonar_4' type='gpu_lidar'>
            <always_on>1</always_on>
            <update_rate>20</update_rate>
            <visualize>1</visualize>
            <topic>sonar_4_scan</topic>
            <ray>
                <scan>
                    <horizontal>
                        <samples>5</samples>
                        <resolution>1</resolution>
                        <min_angle>-0.14835</min_angle>
                        <max_angle>0.14835</max_angle>
                    </horizontal>
                    <vertical>
                        <samples>3</samples>
                        <resolution>1</resolution>
                        <min_angle>0</min_angle>
                        <max_angle>0.14835</max_angle>
                    </vertical>
                </scan>
                <range>
                    <min>0.01</min>
                    <max>4</max>
                    <resolution>0.02</resolution>
                </range>
                <noise>
                    <type>gaussian</type>
                    <mean>0.1</mean>
                    <stddev>0.005</stddev>
                </noise>
            </ray>
        </sensor>
    </gazebo>

    <gazebo reference="sonar5">
        <sensor name='sonar_5' type='gpu_lidar'>
            <always_on>1</always_on>
            <update_rate>20</update_rate>
            <visualize>1</visualize>
            <topic>sonar_5_scan</topic>
            <ray>
                <scan>
                    <horizontal>
                        <samples>5</samples>
                        <resolution>1</resolution>
                        <min_angle>-0.14835</min_angle>
                        <max_angle>0.14835</max_angle>
                    </horizontal>
                    <vertical>
                        <samples>3</samples>
                        <resolution>1</resolution>
                        <min_angle>0</min_angle>
                        <max_angle>0.14835</max_angle>
                    </vertical>
                </scan>
                <range>
                    <min>0.01</min>
                    <max>4</max>
                    <resolution>0.02</resolution>
                </range>
                <noise>
                    <type>gaussian</type>
                    <mean>0.1</mean>
                    <stddev>0.005</stddev>
                </noise>
            </ray>
        </sensor>
    </gazebo>

    <gazebo reference="sonar6">
        <sensor name='sonar_6' type='gpu_lidar'>
            <always_on>1</always_on>
            <update_rate>20</update_rate>
            <visualize>1</visualize>
            <topic>sonar_6_scan</topic>
            <ray>
                <scan>
                    <horizontal>
                        <samples>5</samples>
                        <resolution>1</resolution>
                        <min_angle>-0.14835</min_angle>
                        <max_angle>0.14835</max_angle>
                    </horizontal>
                    <vertical>
                        <samples>3</samples>
                        <resolution>1</resolution>
                        <min_angle>0</min_angle>
                        <max_angle>0.14835</max_angle>
                    </vertical>
                </scan>
                <range>
                    <min>0.01</min>
                    <max>4</max>
                    <resolution>0.02</resolution>
                </range>
                <noise>
                    <type>gaussian</type>
                    <mean>0.1</mean>
                    <stddev>0.005</stddev>
                </noise>
            </ray>
        </sensor>
    </gazebo>

    <gazebo reference="sonar7">
        <sensor name='sonar_7' type='gpu_lidar'>
            <always_on>1</always_on>
            <update_rate>20</update_rate>
            <visualize>1</visualize>
            <topic>sonar_7_scan</topic>
            <ray>
                <scan>
                    <horizontal>
                        <samples>5</samples>
                        <resolution>1</resolution>
                        <min_angle>-0.14835</min_angle>
                        <max_angle>0.14835</max_angle>
                    </horizontal>
                    <vertical>
                        <samples>3</samples>
                        <resolution>1</resolution>
                        <min_angle>0</min_angle>
                        <max_angle>0.14835</max_angle>
                    </vertical>
                </scan>
                <range>
                    <min>0.01</min>
                    <max>4</max>
                    <resolution>0.02</resolution>
                </range>
                <noise>
                    <type>gaussian</type>
                    <mean>0.1</mean>
                    <stddev>0.005</stddev>
                </noise>
            </ray>
        </sensor>
    </gazebo>

    <gazebo reference="sonar8">
        <sensor name='sonar_8' type='gpu_lidar'>
            <always_on>1</always_on>
            <update_rate>20</update_rate>
            <visualize>1</visualize>
            <topic>sonar_8_scan</topic>
            <ray>
                <scan>
                    <horizontal>
                        <samples>5</samples>
                        <resolution>1</resolution>
                        <min_angle>-0.14835</min_angle>
                        <max_angle>0.14835</max_angle>
                    </horizontal>
                    <vertical>
                        <samples>3</samples>
                        <resolution>1</resolution>
                        <min_angle>0</min_angle>
                        <max_angle>0.14835</max_angle>
                    </vertical>
                </scan>
                <range>
                    <min>0.01</min>
                    <max>4</max>
                    <resolution>0.02</resolution>
                </range>
                <noise>
                    <type>gaussian</type>
                    <mean>0.1</mean>
                    <stddev>0.005</stddev>
                </noise>
            </ray>
        </sensor>
    </gazebo>

    <!-- imu -->
    <gazebo>
        <plugin filename="ignition-gazebo-imu-system" name="ignition::gazebo::systems::Imu">
        </plugin>
    </gazebo>

    <!-- IMU -->
    <gazebo reference="imu_link">
        <sensor name="imu" type="imu">
            <always_on>true</always_on>
            <update_rate>100</update_rate>
            <gz_frame_id>imu_link</gz_frame_id>
            <topic>imu</topic>
            <imu>
                <!-- adding simulated noise -->
                <angular_velocity>
                    <x>
                        <noise type="gaussian">
                            <mean>0.0</mean>
                            <stddev>2e-4</stddev>
                        </noise>
                    </x>
                    <y>
                        <noise type="gaussian">
                            <mean>0.0</mean>
                            <stddev>2e-4</stddev>
                        </noise>
                    </y>
                    <z>
                        <noise type="gaussian">
                            <mean>0.0</mean>
                            <stddev>2e-4</stddev>
                        </noise>
                    </z>
                </angular_velocity>
                <!-- adding simulated noise -->
                <linear_acceleration>
                    <x>
                        <noise type="gaussian">
                            <mean>0.0</mean>
                            <stddev>1.7e-2</stddev>
                        </noise>
                    </x>
                    <y>
                        <noise type="gaussian">
                            <mean>0.0</mean>
                            <stddev>1.7e-2</stddev>
                        </noise>
                    </y>
                    <z>
                        <noise type="gaussian">
                            <mean>0.0</mean>
                            <stddev>1.7e-2</stddev>
                        </noise>
                    </z>
                </linear_acceleration>
            </imu>
        </sensor>
    </gazebo>

    <!-- ROS2 control -->
    <gazebo>
        <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
            <parameters>$(find overlord100_controller)/config/overlord100_controllers.yaml</parameters>
        </plugin>
    </gazebo>
</robot>
