<?xml version="1.0"?>
<!-- Basic differential drive mobile base -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="overlord100_simulation_test">
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="use_mock_hardware" default="false" />

  <xacro:include filename="$(find overlord100_description)/description/overlord100_description.urdf.xacro" />
  
  <xacro:include filename="$(find overlord100_description)/description/overlord100.ros2_control.xacro" />

  <xacro:overlord100 prefix="$(arg prefix)" />

  <xacro:overlord100_ros2_control
    name="Overlord100" prefix="$(arg prefix)" use_mock_hardware="$(arg use_mock_hardware)"/>

</robot>
